<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54234456855-emokv26r638nkikeu3ofsp2a88e8be49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54234456855-emokv26r638nkikeu3ofsp2a88e8be49</string>
	<key>API_KEY</key>
	<string>AIzaSyDaaqdMWC1o_9VzZFgxGpkE0fQMdj4wFu0</string>
	<key>GCM_SENDER_ID</key>
	<string>54234456855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careemClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>careem-clone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>careem-clone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54234456855:ios:5689ae38f106890b2f0d52</string>
</dict>
</plist>